.about-main-20 {
   width: 100%;
   height: auto;
   padding-inline: var(--gutter);
   max-width: var(--site-max-width);
}

.about-title-20 {
   display: flex;
   text-align: left;
   overflow: hidden;
   white-space: nowrap;
   padding: 20px 0px 20px;
}

.about-image-20 {
   overflow: auto;
   position: relative;
   block-size: fit-content;
}

.about-img-20 {
   width: 100%;
   height: auto;
   border: none;
   display: block;
   object-fit: cover;
   object-position: center;
}

.dual-section-20,
.dual-section-21 {
   margin: 0;
   border: none;
   padding-top: 0;
   padding-bottom: 0;
   padding-left: var(--gutter);
   padding-right: var(--gutter);
}

.dual-grid-20 {
   display: flex;
   margin-inline: auto;
   flex-direction: row;
   align-items: stretch;
   justify-content: center;
}

.dual-left-column-20 {
   width: 45%;
   align-items: center;
   justify-content: center;
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.dual-content-20 {
   padding: 20px 20px;
   position: relative;
   border-bottom: none;
   max-inline-size: 100%;
}

.dual-header-20 {
   margin-bottom: 30px;
}

.left-title-20,
.right-title-20 {
   font-size: 18px;
   font-weight: 500;
   margin: 0 0 5px 0;
   line-height: 120%;
   color: var(--black);
   font-family: 'Sohne';
}

.left-description-20,
.right-description-20 {
   font-size: 14px;
   line-height: 14px;
   margin-bottom: 30px;
   color: var(--black);
   font-family: 'Century Old Style Std', serif;
}

.about-subtitle-20 {
   margin: 0 0 15px 0;
   color: var(--black);
   font-family: 'CenturyItlc';
   font-size: clamp(18px, calc(12px + 1.1vw), 18px);
}

.left-text-20,
.right-text-20 {
   line-height: 120%;
   margin: 0 0 15px 0;
   color: var(--black);
   font-family: 'CenturyReg';
   font-size: clamp(12px, calc(12px + 1.1vw), 16px);
}

.dual-right-column-20 {
   width: 55%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   border-top: 1px solid var(--black);
   border-left: none;
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.dual-right-image-20,
.dual-left-image-20 {
   width: 100%;
   border: none;
   display: block;
   max-height: 650px;
   object-fit: cover;
   object-position: center;
}

.dual-left-column-21 {
   width: 55%;
   align-items: center;
   justify-content: center;
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.dual-right-column-21 {
   width: 45%;
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: space-between;
   border-top: 1px solid var(--black);
   border-left: none;
   border-right: 1px solid var(--black);
   border-bottom: none;
}