/* MOBILE DEVICES (320 - 767) */
.main-about-20 {
   max-width: 100%;
   background: #F2F2F2;
}

.about-section-2 {
   margin: 0px;
}

.about-grid-2 {
   display: flex;
   margin: 0 auto;
   align-items: stretch;
   flex-direction: column;
}

.about-left-column-2 {
   width: 100%;
   background: #F2F2F2;
   border-top: none;
   border-left: 1px solid #000;
   border-right: 1px solid #000;
   border-bottom: 1px solid #000;
   align-items: center;
   justify-content: center;
}


.about-right-column-1 {
   width: 100%;
   background: #F2F2F2;
   border-top: none;
   border-left: 1px solid #000;
   border-right: 1px solid #000;
   border-bottom: none;
   display: flex;
   align-items: center;
   justify-content: center;
}

.about-right-column-1 picture {
   width: 100%;
   height: 100%;
}

.about-right-column-2 {
   width: 100%;
   background: #F2F2F2;
   border-top: none;
   border-left: 1px solid #000;
   border-right: 1px solid #000;
   border-bottom: none;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
}

.about-content-2 {
   position: relative;
   max-width: 100%;
   border-bottom: none;
   padding: 20px 20px;
}

.about-header-2 {
   margin-bottom: 30px;
}

.about-title-1 {
   font-family: 'CenturyItlc';
   font-size: 24px;
   font-weight: 500;
   color: #000;
   line-height: 120%;
}

.about-title-2 {
   font-family: 'Sohne';
   font-size: 18px;
   font-weight: 500;
   color: #000;
   margin: 0 0 5px 0;
   line-height: 120%;
}

.about-title-3 {
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   font-size: 14px;
   line-height: 1em;
   color: #000000;
   margin-bottom: 4px;
}

.about-title-4 {
   font-family: 'CenturyItlc';
   font-size: 16px;
   font-weight: 500;
   color: #000;
   line-height: 120%;
}

.about-subtitle-2 {
   font-family: 'CenturyItlc';
   font-size: 16px;
   color: #000;
   margin: 0 0 15px 0;
}

.about-subtitle-3 {
   font-family: 'CenturyItlc';
   font-size: 16px;
   font-style: italic;
   color: #000;
   margin: 0;
   font-weight: 400;
}

.about-description-2 {
   font-family: 'Century Old Style Std', serif;
   font-size: 14px;
   line-height: 1em;
   color: #000000;
   margin-bottom: 30px;
}

.about-text-2, .about-text-3 {
   font-family: 'CenturyReg';
   font-size: 17px;
   color: #000;
   line-height: 120%;
   margin: 0 0 15px 0;
}

.title-section {
   border-top: none;
   border-bottom: none;
   display: flex;
   padding: 20px 20px;
   text-align: left;
   overflow: hidden;
   white-space: nowrap;
}

.about-geometric {
   position: relative;
   width: 100%;
   height: 60%;
   pointer-events: none;
   display: flex;
   align-items: flex-end;
   justify-content: flex-start;
}

.about-interior-image {
   width: 100%;
   height: 100%;
   max-width: 100%;
   display: block;
   object-fit: cover;
}

.full-width-svg {
   width: 100%;
   height: auto;
   object-fit: contain;
   display: flex;
   align-items: center;
   align-content: center;
   align-self: stretch;
   flex-wrap: wrap;
}

.about-left-geometric {
   position: relative;
   width: 100%;
   height: 60%;
   pointer-events: none;
   display: flex;
   align-items: flex-end;
   justify-content: flex-start;
}

.about-left-geometric .column-image {
   width: 100%;
   max-width: 100%;
   height: auto;
   object-fit: contain;
   margin-bottom: -5px;
}

.about-right-geometric .column-image {
   width: 100%;
   max-width: 100%;
   height: auto;
   object-fit: contain;
   margin-bottom: -26px;
}

/* TABLET DEVICES (768 - 1,023) */
@media screen and (min-width: 768px) {
   .about-section-2 {
      margin: 0px;
   }

   .about-grid-2 {
      flex-direction: row;
      justify-content: center;
   }

   .about-left-column-2 {
      width: 54%;
   }

   .about-left-geometric {
      margin-bottom: 2px;
   }

      .about-right-column-1 {
         width: 53%;
         margin-bottom: 2px;
      }
   
      .about-right-column-2 {
         width: 46%;
      }

   .about-right-geometric .column-image {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: contain;
      margin-bottom: -48px;
   }

   .about-content-2 {
      padding: 0px;
   }

   .about-title {
      font-size: 30px;
   }

   .about-subtitle-2 {
      font-size: 18px;
   }

   .about-text-2 {
      font-size: 18px;
   }

   .about-text-3 {
      font-size: 12px;
      line-height: 140%;
   }

   .about-interior-image {
      min-height: 555px;
      object-fit: cover;
   }

   .title-section {
      padding: 5px 30px 22px;
   }

   .title-2 {
      font-size: 36px;
   }
}

/* DESKTOP DEVICES (1,024 - 1,920++) */
@media screen and (min-width: 1024px) {
   .main-about-20 {
      margin-left: 100px;
      margin-right: 100px;
   }
   
   .about-section-2 {
      border-top: 1px solid #000;
   }

   .about-left-column-2 {
      background: #F2F2F2;
      border-top: none;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      border-bottom: none;
      align-items: center;
      justify-content: center;
   }

      .about-right-column-1 {
         height: auto;
         background: #F2F2F2;
         border-top: none;
         border-left: none;
         border-right: 1px solid #000;
         border-bottom: none;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   
      .about-right-column-2 {
         background: #F2F2F2;
         border-top: 1px solid #000;
         border-left: none;
         border-right: 1px solid #000;
         border-bottom: none;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         position: relative;
      }

   .about-content-2 {
      padding: 24px;
   }

   .about-title {
      font-size: 36px;
   }

   .about-subtitle-2 {
      font-size: 21px;
   }

   .about-text-2 {
      font-size: 21px;
   }

   .about-interior-image {
      min-height: 650px;
   }

   .title-section {
      padding: 5px 40px 24px;
   }

   .title-2 {
      font-size: 45px;
   }
}