.artworks-main-50 {
	width: 100%;
	height: auto;
	padding-inline: var(--gutter);
	max-width: var(--site-max-width);
}

.artworks-image-50,
.artworks-image-51 {
	overflow: auto;
	position: relative;
	block-size: fit-content;
}

.artworks-image-51 {
	border-top: 1px solid var(--black);
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
}

.artworks-img-50 {
	width: 100%;
	height: auto;
	border: none;
	display: block;
	object-fit: cover;
	object-position: center;
}

.artworks-section-51 {
	margin: 0;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.artworks-full-img-50 {
	width: 100%;
	height: auto;
	border: none;
	display: block;
	object-fit: cover;
	object-position: center;
}

.artworks-section-52 {
	display: flex;
	overflow: hidden;
	text-align: left;
	padding: 20px 20px;
	white-space: nowrap;
	margin-left: var(--gutter);
	margin-right: var(--gutter);
	border-top: 1px solid var(--black);
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.artworks-title-51 {
	text-align: left;
	font-weight: 500;
	line-height: 1.05;
	color: var(--black);
	font-size: var(--fs-title-15);
	text-transform: uppercase;
	font-family: 'Sohne';
}

.dual-section-50,
.dual-section-51 {
	margin: 0;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.dual-grid-50 {
	display: flex;
	margin-inline: auto;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}

.dual-left-column-51 {
	width: 55%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.dual-right-image-50,
.dual-left-image-50 {
	width: 100%;
	border: none;
	display: block;
	max-height: 650px;
	object-fit: cover;
	object-position: center;
}

.dual-right-column-51 {
	width: 45%;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	border-top: 1px solid var(--black);
	border-left: none;
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.dual-content-50 {
	padding: 20px 20px;
	position: relative;
	border-bottom: none;
	max-inline-size: 100%;
}

.dual-header-50 {
	text-align: left;
		font-weight: 500;
		line-height: 1.05;
		color: var(--black);
		font-size: var(--fs-title-15);
		text-transform: uppercase;
		font-family: 'Sohne';
	margin-bottom: 30px;
}

.dual-title-50 {
	color: var(--black);
	font-weight: 500;
	line-height: 1.05;
	margin: 0 0 5px 0;
	font-size: var(--fs-title-10);
	font-family: 'Sohne';
}

.dual-description-50 {
	line-height: 120%;
	margin: 0 0 15px 0;
	color: var(--black);
	font-family: 'CenturyReg';
	font-size: clamp(12px, calc(12px + 1.1vw), 14px);
}

.dual-text-50 {
	line-height: 120%;
	margin: 0 0 15px 0;
	color: var(--black);
	font-family: 'CenturyReg';
	font-size: clamp(12px, calc(12px + 1.1vw), 16px);
}

.dual-separator-50 {
	width: 100%;
	height: 1px;
	border: none;
	background-color: var(--black);
}

/* .left-description-50,
.right-description-50 {
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 30px;
	color: var(--black);
	font-family: 'Century Old Style Std', serif;
}

.left-text-50,
.right-text-50 {
	line-height: 120%;
	margin: 0 0 15px 0;
	color: var(--black);
	font-family: 'CenturyReg';
	font-size: clamp(12px, calc(12px + 1.1vw), 16px);
} */

.dual-left-column-50 {
	width: 45%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.dual-right-column-50 {
	width: 55%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: none;
	border-right: 1px solid var(--black);
	border-bottom: none;
}