/* MOBILE DEVICES ( <= 678px ) */
.artworks-main-50 {
	width: 100%;
	height: auto;
	padding-inline: var(--gutter);
	max-width: var(--site-max-width);
}

.artworks-image-50,
.artworks-image-51,
.dual-image-50 {
	overflow: auto;
	position: relative;
	block-size: fit-content;
}

.artworks-image-51 {
	border-top: 1px solid var(--black);
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
}

.artworks-img-50,
.artworks-full-img-50,
.dual-img-50,
.dual-img-51,
.dual-img-52 {
	width: 100%;
	height: auto;
	border: none;
	display: block;
	object-fit: cover;
	object-position: center;
}

.dual-img-50 {
   max-height: 600px;
}

.dual-img-52 {
	max-height: 432px;
}

.artworks-title-section-50 {
	display: flex;
	overflow: hidden;
	text-align: left;
	padding: 20px 20px;
	white-space: nowrap;
	margin-left: var(--gutter);
	margin-right: var(--gutter);
	border-top: 1px solid var(--black);
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.artworks-title-50 {
	text-align: left;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.1em;
	color: var(--black);
	text-transform: uppercase;
	font-family: 'Sohne';
}

.dual-section-50,
.dual-section-51 {
	margin: 0;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.dual-grid-50 {
	display: flex;
	margin-inline: auto;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}

.dual-left-column-50 {
	width: 45%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.dual-content-50 {
	padding: 15px;
	position: relative;
	border-bottom: none;
	max-inline-size: 100%;
}

.dual-header-50 {
	text-align: left;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.1em;
	color: var(--black);
	margin-bottom: 30px;
	text-transform: uppercase;
	font-family: 'Sohne';
}

.dual-description-50 {
	font-size: 10px;
	line-height: 1.1em;
	color: var(--black);
	font-family: 'CenturyReg';
	/* margin: 0 0 15px 0; */
	/* font-family: 'Century Old Style Std', serif; */
}

.dual-right-column-50 {
	width: 55%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: none;
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.artworks-section-52 {
	display: flex;
	overflow: hidden;
	text-align: left;
	padding: 10px;
	white-space: nowrap;
	margin-left: var(--gutter);
	margin-right: var(--gutter);
	background: var(--yellow-artra);
	border-top: 1px solid var(--black);
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.artworks-button-50 {
	padding: 0;
	cursor: pointer;
	font-size: 14px;
	min-width: 100px;
	text-align: left;
	font-weight: bold;
	line-height: 1.1em;
	color: var(--black);
	align-self: contain;
	display: inline-block;
	background: var(--yellow-artra);
	font-family: 'Century Old Style Std', serif;
}

.artworks-title-51 {
	text-align: left;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.1em;
	color: var(--black);
	text-transform: uppercase;
	font-family: 'Sohne';
}

.dual-left-column-51 {
	width: 55%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.dual-right-column-51 {
	width: 45%;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	border-top: 1px solid var(--black);
	border-left: none;
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.dual-title-50 {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.1em;
	color: var(--black);
	font-family: 'Sohne';
}

.dual-separator-50 {
	width: 100%;
	height: 1px;
	border: none;
	background-color: var(--black);
}

.dual-left-column-52 {
	width: 50%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: none;
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.dual-right-column-52 {
	width: 50%;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	border-top: 1px solid var(--black);
	border-left: none;
	border-right: none;
	border-bottom: none;
}

/* DESKTOP DEVICES ( > 678px ) */
@media screen and (min-width: 678px) {
	.dual-header-50 {
		font-size: clamp(22px, calc(12px + 1.1vw), 32px);
	}

	.dual-description-50 {
		font-size: 16px;
	}

	.artworks-title-51 {
		font-size: clamp(28px, calc(12px + 1.1vw), 48px);
	}

	.dual-title-50 {
		font-size: 18px;
	}

   .dual-content-50 {
      padding: 30px;
   }
}