/* MOBILE DEVICES ( <= 678px ) */
.contact-main-80 {
	width: 100%;
	height: auto;
	padding-inline: var(--gutter);
	max-width: var(--site-max-width);
}

.contact-image-80 {
	overflow: auto;
	position: relative;
	block-size: fit-content;
}

.contact-img-80 {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
	object-fit: cover;
	object-position: center;
}

.dual-section-80,
.dual-section-81 {
	margin: 0;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
}

.dual-grid-80 {
	display: flex;
	margin-inline: auto;
	flex-direction: row;
	align-items: stretch;
	justify-content: center;
}

.dual-left-column-80 {
	width: 50%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: 1px solid var(--black);
	border-right: none;
	border-bottom: none;
}

.dual-content-80 {
	padding: 15px;
	position: relative;
	max-inline-size: 100%;
}

.dual-description-80 {
	font-size: 10px;
	line-height: 1.1em;
	color: var(--black);
	font-family: 'CenturyReg';
}

.dual-right-column-80 {
	width: 50%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: none;
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.dual-content-81 {
	padding: 15px;
	text-align: right;
	margin-top: 20px;
	position: relative;
	max-inline-size: 100%;
}

.dual-link-80 {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.1em;
	padding: 10px 20px;
	color: var(--black);
	border: 1px solid var(--black);
	text-decoration: none;
}

.dual-title-80 {
	font-size: 12px;
	font-weight: 800;
	line-height: 1.1em;
	color: var(--black);
	font-family: 'Sohne';
}

/* DESKTOP DEVICES ( > 678px ) */
@media screen and (min-width: 678px) {
	.contact-main-80 {
		padding-inline: var(--gutter-2);
	}

	.dual-header-80 {
		font-size: clamp(22px, calc(12px + 1.1vw), 32px);
	}

	.dual-content-80 {
		padding: 30px;
	}

	.dual-description-80 {
		font-size: 16px;
	}

	.dual-content-81 {
		padding: 30px;
		margin-top: 30px;
	}

	.dual-link-80 {
		padding: 15px 40px;
		font-size: 14px;
	}

	.dual-title-80 {
		font-size: 18px;
	}
}