.footer {
	padding: 20px;
	background: var(--white-gray);
	border-top: 1px solid var(--black);
}

.footer-content-1 {
	width: 100%;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
}

.footer-left-1 {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.footer-about-1 {
	width: 100%;
}

.footer-header-1 {
	margin-bottom: 30px;
}

.footer-link-1,
.footer-title-1,
.footer-address-1,
.footer-copyright-1,
.footer-description-1 {
	font-size: 16px;
	font-weight: 500;
	line-height: 1em;
}

.footer-title-1 {
	margin-bottom: 8px;
	font-family: 'Inter', sans-serif;
}

.footer-address-1 {
	font-family: 'Century Old Style Std', serif;
}

.footer-description-1 {
	font-family: 'Century Old Style Std', serif;
}

.footer-copyright-1 {
	font-family: 'Inter', sans-serif;
	margin-top: clamp(60px, 4vw, 120px);
}

.footer-right-1,
.footer-links-1,
.footer-link-group-1 {
	display: flex;
	flex-direction: column;
}

.footer-links-1 {
	gap: 30px;
}

.footer-link-group-1 {
	gap: 10px;
}

.footer-link-1 {
	color: var(--black);
	text-decoration: none;
	transition: opacity 0.3s ease;
	font-family: 'Inter', sans-serif;
}

.footer-link-1:hover {
	opacity: 0.7;
}

@media screen and (min-width: 600px) {
	.footer {
		padding: 24px 40px;
		margin-left: 109px;
		margin-right: 109px;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
	}

	.footer-content-1,
	.footer-left-1,
	.footer-right-1,
	.footer-links-1 {
		gap: 128px;
		flex-direction: row;
	}
}