/* MOBILE DEVICES ( <= 678px ) */
.footer {
	padding-inline: var(--gutter);
	background: var(--white-gray);
	border-top: 1px solid var(--black);
}

.footer-content-1 {
	width: 100%;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
}

.footer-left-1 {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.footer-link-1,
.footer-link-2,
.footer-title-1,
.footer-address-1,
.footer-copyright-1,
.footer-description-1 {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.1em;
}

.footer-title-1 {
	font-family: 'Inter', sans-serif;
}

.footer-address-1,
.footer-description-1 {
	font-family: 'Century Old Style Std', serif;
}

.footer-copyright-1 {
	font-family: 'Inter', sans-serif;
	margin-top: clamp(40px, 4vw, 120px);
}

.footer-links-2,
.footer-link-group-2 {
	display: flex;
	flex-direction: row;
}

.footer-right-1,
.footer-links-1,
.footer-link-group-1 {
	display: flex;
	flex-direction: column;
}

.footer-links-1 {
	gap: 30px;
}

.footer-link-group-1 {
	gap: 10px;
}

.footer-link-1 {
	color: var(--black);
	text-decoration: none;
	font-family: 'Inter', sans-serif;
}

.footer-img-1 {
	width: 80%;
	height: 80%;
}

.footer-img-2 {
	width: 2%;
	height: 2%;
}

.footer-link-2 {
	color: var(--black);
	text-decoration: none;
	transition: opacity 0.3s ease;
	font-family: 'CenturyReg';
}

.footer-link-2:hover {
	opacity: 0.7;
}

/* DESKTOP DEVICES ( > 678px ) */
@media screen and (min-width: 678px) {
	.footer {
		padding: 20px 20px;
		margin-left: 40px;
		margin-right: 40px;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
	}

	.footer-link-1,
	.footer-link-2,
	.footer-title-1,
	.footer-address-1,
	.footer-copyright-1,
	.footer-description-1 {
		font-size: 16px;
	}

	.footer-title-1,
	.footer-description-1 {
		margin-top: -10px;
	}

	.footer-content-1,
	.footer-left-1,
	.footer-center-1,
	.footer-right-1,
	.footer-links-1 {
		gap: 50px;
		flex-direction: row;
	}

	.footer-img-1 {
		width: auto;
		height: 80%;
	}

	.footer-img-2 {
		width: auto;
		height: 20%;
	}

	.footer-copyright-1 {
		text-align: center;
	}
}