/* MOBILE DEVICES ( <= 678px ) */
.footer {
	padding-inline: var(--gutter);
	background: var(--white-gray);
	border-top: 1px solid var(--black);
}

.footer-content-1 {
	width: 100%;
	display: flex;
	margin: 0 auto;
	flex-direction: column;
}

.footer-left-1 {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.footer-about-1 {
	width: 100%;
}

.footer-header-1 {
	margin-bottom: 30px;
}

.footer-link-1,
.footer-title-1,
.footer-address-1,
.footer-copyright-1,
.footer-description-1 {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.1em;
}

.footer-title-1 {
	margin-bottom: 8px;
	font-family: 'Inter', sans-serif;
}

.footer-address-1 {
	font-family: 'Century Old Style Std', serif;
}

.footer-description-1 {
	font-family: 'Century Old Style Std', serif;
}

.footer-copyright-1 {
	font-family: 'Inter', sans-serif;
	margin-top: clamp(40px, 4vw, 120px);
}

.footer-right-1,
.footer-links-1,
.footer-link-group-1 {
	display: flex;
	flex-direction: column;
}

.footer-links-1 {
	gap: 30px;
}

.footer-link-group-1 {
	gap: 10px;
}

.footer-link-1 {
	color: var(--black);
	text-decoration: none;
	transition: opacity 0.3s ease;
	font-family: 'Inter', sans-serif;
}

.footer-img-1 {
	width: 5%;
	height: 5%;
}

.footer-link-1:hover {
	opacity: 0.7;
}

/* DESKTOP DEVICES ( > 678px ) */
@media screen and (min-width: 678px) {
	.footer {
		padding: 20px 40px;
		margin-left: 40px;
		margin-right: 40px;
		border-left: 1px solid #000;
		border-right: 1px solid #000;
	}

	.footer-link-1,
	.footer-title-1,
	.footer-address-1,
	.footer-copyright-1,
	.footer-description-1 {
		font-size: 16px;
	}

	.footer-content-1,
	.footer-left-1,
	.footer-right-1,
	.footer-links-1 {
		gap: 50px;
		flex-direction: row;
	}

	.footer-img-1 {
		width: 80%;
		height: 80%;
	}
}