/* MOBILE DEVICES ( <= 678px ) */
.frames-main-60 {
   width: 100%;
   height: auto;
   padding-inline: var(--gutter);
   max-width: var(--site-max-width);
}

.frames-image-60,
.frames-image-61,
.dual-image-60 {
   overflow: auto;
   position: relative;
   block-size: fit-content;
}

.frames-image-61 {
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
}

.frames-img-60,
.frames-full-img-60,
.dual-img-60,
.dual-img-61,
.dual-img-62 {
   width: 100%;
   height: auto;
   border: none;
   display: block;
   object-fit: cover;
   object-position: center;
}

.dual-img-60 {
   max-height: 600px;
}

.dual-img-62 {
   max-height: 432px;
}

.frames-title-section-60 {
   display: flex;
   overflow: hidden;
   text-align: left;
   padding: 20px 20px;
   white-space: nowrap;
   margin-left: var(--gutter);
   margin-right: var(--gutter);
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.frames-title-60 {
   text-align: left;
   font-size: 24px;
   font-weight: 500;
   line-height: 1.1em;
   color: var(--black);
   text-transform: uppercase;
   font-family: 'Sohne';
}

.dual-section-60,
.dual-section-61 {
   margin: 0;
   border: none;
   padding-top: 0;
   padding-bottom: 0;
   padding-left: var(--gutter);
   padding-right: var(--gutter);
}

.dual-grid-60 {
   display: flex;
   margin-inline: auto;
   flex-direction: row;
   align-items: stretch;
   justify-content: center;
}

.dual-left-column-60 {
   width: 50%;
   align-items: center;
   justify-content: center;
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.dual-content-60 {
   padding: 15px;
   position: relative;
   border-bottom: none;
   max-inline-size: 100%;
   border-top: 1px solid var(--black);
}

.dual-header-60 {
   text-align: left;
   font-size: 20px;
   font-weight: 900;
   line-height: 1.1em;
   color: var(--black);
   margin-bottom: 30px;
   text-transform: uppercase;
   font-family: 'Sohne';
}

.dual-title-60 {
   font-size: 14px;
   font-weight: 500;
   line-height: 1.1em;
   color: var(--black);
   font-family: 'Sohne';
}

.dual-description-60 {
   font-size: 9px;
   line-height: 1.1em;
   color: var(--black);
   font-family: 'CenturyReg';
}

.dual-description-61 {
   font-size: 12px;
   line-height: 1.1em;
   color: var(--black);
   font-family: 'CenturyReg';
}

.dual-right-column-60 {
   width: 50%;
   align-items: center;
   justify-content: center;
   border-top: 1px solid var(--black);
   border-left: none;
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.frames-section-62 {
   display: flex;
   overflow: hidden;
   text-align: left;
   padding: 10px;
   white-space: nowrap;
   margin-left: var(--gutter);
   margin-right: var(--gutter);
   background: var(--yellow-artra);
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.frames-button-60 {
   padding: 0;
   cursor: pointer;
   font-size: 14px;
   min-width: 100px;
   text-align: left;
   font-weight: bold;
   line-height: 1.1em;
   color: var(--black);
   align-self: contain;
   display: inline-block;
   background: var(--yellow-artra);
   font-family: 'Century Old Style Std', serif;
}

.dual-content-61 {
   padding: 15px;
   position: relative;
   border-bottom: none;
   max-inline-size: 100%;
}

.dual-separator-60 {
   width: 100%;
   height: 1px;
   border: none;
   background-color: var(--black);
}

.dual-left-column-61 {
   width: 50%;
   align-items: center;
   justify-content: center;
   border-top: 1px solid var(--black);
   border-left: none;
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.dual-right-column-61 {
   width: 50%;
   position: relative;
   flex-direction: column;
   justify-content: space-between;
   border-top: 1px solid var(--black);
   border-left: none;
   border-right: none;
   border-bottom: none;
}

.dual-left-column-62 {
   width: 45%;
   align-items: center;
   justify-content: center;
   border-top: none;
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.dual-right-column-62 {
   width: 55%;
   position: relative;
   flex-direction: column;
   justify-content: space-between;
   border-top: 1px solid var(--black);
   border-left: none;
   border-right: 1px solid var(--black);
   border-bottom: none;
}

/* DESKTOP DEVICES ( > 678px ) */
@media screen and (min-width: 678px) {
   .dual-header-60 {
      font-size: clamp(22px, calc(12px + 1.1vw), 32px);
   }

   .dual-description-60,
   .dual-description-61 {
      font-size: 16px;
   }

   .frames-title-60 {
      font-size: clamp(28px, calc(12px + 1.1vw), 48px);
   }

   .dual-title-60 {
      font-size: 18px;
   }

   .dual-content-60 {
      padding: 30px;
   }

   .dual-left-column-62 {
      border-top: none;
      border-left: 1px solid var(--black);
      border-right: none;
      border-bottom: none;
   }

   .dual-right-column-62 {
      border-top: 1px solid var(--black);
      border-left: none;
      border-right: none;
      border-bottom: none;
   }
}