/* MOBILE DEVICES ( <= 678px ) */
.frames-main-60 {
   width: 100%;
   height: auto;
   padding-inline: var(--gutter);
   max-width: var(--site-max-width);
}

.frames-image-60,
.frames-image-61,
.dual-image-60 {
   overflow: auto;
   position: relative;
   block-size: fit-content;
}

.frames-image-61 {
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
}

.frames-img-60,
.frames-full-img-60,
.dual-img-60 {
   width: 100%;
   height: auto;
   border: none;
   display: block;
   object-fit: cover;
   object-position: center;
}

.dual-img-60 {
   max-height: 600px;
}

.frames-title-section-60 {
   display: flex;
   text-align: left;
   overflow: hidden;
   padding: 20px 20px;
   white-space: nowrap;
   margin-left: var(--gutter);
   margin-right: var(--gutter);
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.frames-title-60 {
   text-align: left;
   font-size: 18px;
   font-weight: 500;
   line-height: 1.1em;
   color: var(--black);
   text-transform: uppercase;
   font-family: 'Sohne';
}

.dual-section-60,
.dual-section-61 {
   margin: 0;
   border: none;
   padding-top: 0;
   padding-bottom: 0;
   padding-left: var(--gutter);
   padding-right: var(--gutter);
}

.dual-grid-60 {
   display: flex;
   margin-inline: auto;
   flex-direction: row;
   align-items: stretch;
   justify-content: center;
}

.dual-left-column-60 {
   width: 50%;
   align-items: center;
   justify-content: center;
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.dual-content-60 {
   padding: 15px;
   position: relative;
   border-bottom: none;
   max-inline-size: 100%;
   border-top: 1px solid var(--black);
}

.dual-header-60 {
   text-align: left;
   font-weight: 900;
   line-height: 1.1em;
   color: var(--black);
   font-size: 1.17em;
   text-transform: uppercase;
   font-family: 'Sohne';
   margin-bottom: 30px;
}

.dual-title-60 {
   color: var(--black);
   font-weight: 500;
   line-height: 1.1em;
   margin: 0 0 5px 0;
   font-size: 1em;
   font-family: 'Sohne';
}

.dual-description-60 {
   line-height: 1.1em;
   margin: 0 0 15px 0;
   color: var(--black);
   font-family: 'Century Old Style Std';
   font-size: 16px;
}

.dual-right-column-60 {
   width: 50%;
   align-items: center;
   justify-content: center;
   border-top: 1px solid var(--black);
   border-left: none;
   border-right: 1px solid var(--black);
   border-bottom: none;
}

/* DESKTOP DEVICES ( > 678px ) */
@media screen and (min-width: 678px) {

}