/* MOBILE DEVICES ( <= 678px ) */
.gallery-main-40 {
   width: 100%;
   height: auto;
   padding-inline: var(--gutter);
   max-width: var(--site-max-width);
}

.gallery-image-40 {
   overflow: auto;
   position: relative;
   block-size: fit-content;
}

.gallery-img-40,
.gallery-full-img-40 {
   width: 100%;
   height: auto;
   border: none;
   display: block;
   object-fit: cover;
   object-position: center;
}

.gallery-title-section-40 {
   display: flex;
   text-align: left;
   overflow: hidden;
   padding: 20px 20px;
   white-space: nowrap;
	border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.gallery-title-40 {
   text-align: left;
   font-size: 18px;
	font-weight: 500;
   line-height: 1.1em;
   color: var(--black);
   text-transform: uppercase;
   font-family: 'Sohne';
}

.gallery-section-41 {
   margin: 0;
   border: none;
   padding-top: 0;
   padding-bottom: 0;
}

.gallery-image-40,
.gallery-image-41 {
   overflow: auto;
   position: relative;
   block-size: fit-content;
}

.gallery-image-41 {
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
}

.dual-section-40,
.dual-section-41 {
   margin: 0;
   border: none;
   padding-top: 0;
   padding-bottom: 0;
}

.dual-grid-40 {
   display: flex;
   margin-inline: auto;
   flex-direction: row;
   align-items: stretch;
   justify-content: center;
}

.dual-left-column-40 {
   width: 45%;
   align-items: center;
   justify-content: center;
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.dual-content-40 {
   padding: 15px;
   position: relative;
   border-bottom: none;
   max-inline-size: 100%;
}

.left-description-40,
.right-description-40 {
   font-size: 10px;
   line-height: 1.1em;
   color: var(--black);
   font-family: 'CenturyReg';
}

.dual-right-column-40 {
   width: 55%;
   height: auto;
   align-items: center;
   justify-content: center;
   border-top: 1px solid var(--black);
   border-left: none;
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.dual-right-image-40,
.dual-left-image-40 {
   overflow: auto;
   position: relative;
   block-size: fit-content;
}

.dual-img-40 {
   width: 100%;
   height: auto;
   border: none;
   display: block;
   max-height: 600px;
   object-fit: cover;
   object-position: center;
}

.dual-left-column-41 {
   width: 55%;
   align-items: center;
   justify-content: center;
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.dual-right-column-41 {
   width: 45%;
   position: relative;
   flex-direction: column;
   justify-content: space-between;
   border-top: 1px solid var(--black);
   border-left: none;
   border-right: 1px solid var(--black);
   border-bottom: none;
}

/* DESKTOP DEVICES ( > 678px ) */
@media screen and (min-width: 678px) {
   .gallery-main-40 {
      padding-inline: var(--gutter-2);
   }

   .dual-content-40 {
      padding: 30px 60px 30px 30px;
   }

   .gallery-title-40 {
      font-size: 28px;
   }

   .left-description-40,
   .right-description-40 {
      font-size: 16px;
   }
}