/* MOBILE DEVICES (320 - 767) */
.grid-section-1 {
	position: relative;
	justify-content: center;
	align-items: center;
}

/* TABLET DEVICES (768 - 1,023) */
@media screen and (min-width: 768px) {
}

/* DESKTOP DEVICES (1,024 - 1,920++) */
@media screen and (min-width: 1024px) {
}