/* MOBILE DEVICES ( <= 678px ) */
.nav-header-1 {
    width: 100%;
    z-index: 100;
    display: flex;
    position: sticky;
    color: var(--black);
    align-items: center;
    margin-inline: auto;
    background: var(--white-gray);
    justify-content: space-between;
    height: clamp(60px, 4vw, 120px);
    padding: clamp(40px, 4vw, 120px);
    max-width: var(--site-max-width);
    -webkit-font-smoothing: antialiased;
}

.nav-left-1 {
    flex: 1;
    text-align: left;
    padding-top: 30px;
    position: relative;
}

.nav-menu-1 {
    cursor: pointer;
    font-weight: 600;
    color: var(--black);
    font-family: 'Sohne';
    transition: color 0.3s ease;
    font-size: clamp(16px, calc(12px + 1.1vw), 20px);
}

.nav-menu-1:hover {
    color: var(--gray);
}

.nav-center-1 {
    flex: 1;
    text-align: center;
}

.nav-logo-1 {
    width: 100%;
    height: auto;
    align-self: center;
    max-width: clamp(200px, 4vw, 500px);
    margin-top: clamp(16px, calc(12px + 1.1vw), 16px);
    margin-bottom: clamp(16px, calc(12px + 1.1vw), 16px);
}

.nav-right-1 {
    flex: 1;
    text-align: right;
}

.menu-dropdown-1 {
    opacity: 0;
    padding: 0;
    width: 100%;
    z-index: 999;
    max-height: 0;
    display: none;
    margin: 0 auto;
    max-width: 100%;
    position: static;
    overflow: hidden;
    transition: all 0.3s ease;
}

.menu-dropdown-1.active {
    display: block !important;
    opacity: 1;
    max-height: 500px;
    padding: 0px;
}

.menu-item-1 {
    padding: 15px 40px;
    border-top: 1px solid var(--black);
}

.menu-item-1:last-child {
    border-bottom: none;
}

.menu-link-1 {
    line-height: 1em;
    font-weight: 500;
    color: var(--black);
    letter-spacing: -1%;
    font-family: 'Sohne';
    text-decoration: none;
    font-size: 22px;
    transition: opacity 0.3s ease, transform 0.2s ease;
}

.menu-link-1:hover {
    opacity: 0.7;
    transform: translateX(10px);
}

.menu-separator-1 {
    display: none;
}

.menu-separator-2 {
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--black);
}

.banner-section-1 {
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    background: var(--yellow-artra);
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.banner-text-1 {
    display: inline-block;
    animation: scroll-left 30s linear infinite;
}

.banner-text-1 span {
    font-style: italic;
    color: var(--black);
    font-family: 'CenturyItlc';
    font-size: clamp(14px, calc(12px + 1.1vw), 16px);
}

/* DESKTOP DEVICES ( > 678px ) */
@media screen and (min-width: 678px) {
    .menu-link-1 {
        font-weight: 500;
        font-size: clamp(40px, calc(12px + 1.1vw), 56px);
    }
}