/* MOBILE DEVICES ( <= 678px ) */
.home-main-10 {
	width: 100%;
	height: auto;
	padding-inline: var(--gutter);
	max-width: var(--site-max-width);
}

.home-section-10 {
	margin: 0;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.home-image-10,
.dual-image-10 {
	overflow: auto;
	position: relative;
	block-size: fit-content;
}

.home-image-10 {
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
}

.home-full-img-10,
.home-img-10,
.home-img-11,
.dual-img-10 {
	width: 100%;
	height: 100%;
	border: none;
	display: block;
	object-fit: cover;
	object-position: center;
}

.home-img-10,
.dual-img-10 {
	max-height: 800px;
}

.dual-section-10 {
	margin: 0;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: var(--gutter);
	padding-right: var(--gutter);
}

.dual-grid-10 {
	display: flex;
	margin-inline: auto;
	flex-direction: row;	
	align-items: stretch;
	justify-content: center;
}

.dual-left-column-10 {
	width: 34%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.dual-header-10 {
	margin: 0;
	padding: 10px 10px;
	display: flex;
	overflow-wrap: break-word;
	border-bottom: 1px solid var(--black);
}

.dual-header-11 {
	margin: 0;
	padding: 10px 10px;
	display: flex;
	overflow-wrap: break-word;
	border-top: 1px solid var(--black);
}

.dual-title-10 {
	font-size: 14px;
	font-weight: 500;
	line-height: 1.1em;
	color: var(--black);
	font-family: 'Inter', sans-serif;
}

.dual-right-column-10 {
	width: 66%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: none;
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.dual-left-column-11 {
	width: 66%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.dual-right-column-11 {
	width: 34%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: none;
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.dual-left-column-12 {
	width: 45%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.dual-content-10 {
	padding: 15px;
	position: relative;
	border-bottom: none;
	max-inline-size: 100%;
}

.dual-description-10 {
   font-size: 10px;
   line-height: 1.1em;
   color: var(--black);
   font-family: 'CenturyReg';
}

.dual-subtitle-10 {
	font-size: 12px;
	font-weight: 500;
	line-height: 1.1em;
	color: var(--black);
	font-family: 'Sohne';
}

.dual-right-column-12 {
	width: 55%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: none;
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.dual-left-column-13 {
	width: 55%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.dual-right-column-13 {
	width: 45%;
	align-items: center;
	justify-content: center;
	border-top: 1px solid var(--black);
	border-left: none;
	border-right: 1px solid var(--black);
	border-bottom: none;
}

.home-title-section-10 {
	display: flex;
	text-align: left;
	overflow: hidden;
	padding: 20px 20px;
	white-space: nowrap;
	margin-left: var(--gutter);
	margin-right: var(--gutter);
	border: 1px solid var(--black);
}

.home-title-10 {
	text-align: left;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.1em;
	color: var(--black);
	text-transform: uppercase;
	font-family: 'Sohne';
}

/* DESKTOP DEVICES ( > 678px ) */
@media screen and (min-width: 678px) {
	.dual-title-10 {
		font-size: clamp(18px, calc(12px + 1.1vw), 36px);
	}

	.dual-content-10 {
      padding: 30px 60px 30px 30px;
   }

   .dual-description-10 {
      font-size: 16px;
   }

   .dual-subtitle-10 {
		font-size: 18px;
	}

	.home-title-10 {
		font-size: clamp(28px, calc(12px + 1.1vw), 48px);
	}
}