/* MOBILE DEVICES (<= 600px) */
.hwdi-main-30 {
   max-width: 100%;
}

.hwdi-title-30 {
   display: flex;
   text-align: left;
   overflow: hidden;
   padding: 20px 20px;
   white-space: nowrap;
}

.hwdi-image-30 {
   width: auto;
   height: 100%;
   position: relative;
   overflow: hidden;
}

.hwdi-img-30 {
   inline-size: 100%;
   display: block;
   border: none;
   object-fit: cover;
   object-position: center;
}

.dual-section-30,
.dual-section-31 {
   margin: 0;
   border-top: 1px solid var(--black);
   border-left: none;
   border-right: none;
   border-bottom: none;
}

.dual-grid-30 {
   display: flex;
   /* margin: 0 auto; */
   margin-inline: auto;
   align-items: stretch;
   flex-direction: column;
}

.dual-left-column-30 {
   inline-size: 100%;
   border-left: none;
   border-right: none;
   border-bottom: 1px solid var(--black);
   align-items: center;
   justify-content: center;
}

.dual-content-30 {
   position: relative;
   max-inline-size: 100%;
   border-bottom: none;
   padding: 20px 20px;
}

.dual-header-30 {
   margin-bottom: 30px;
}

.left-title-30,
.right-title-30 {
   font-family: 'Sohne';
   font-size: 18px;
   font-weight: 500;
   color: var(--black);
   margin: 0 0 5px 0;
   line-height: 120%;
}

.left-description-30,
.right-description-30 {
   font-family: 'Century Old Style Std', serif;
   font-size: 14px;
   line-height: 14px;
   color: var(--black);
   margin-bottom: 30px;
}

.about-subtitle-30 {
   font-family: 'CenturyItlc';
   font-size: 16px;
   color: #000;
   margin: 0 0 15px 0;
}

.left-text-30,
.right-text-30 {
   font-family: 'CenturyReg';
   font-size: 18px;
   color: var(--black);
   line-height: 120%;
   margin: 0 0 15px 0;
}

.left-button-30,
.right-button-30 {
   inline-size: 100%;
   background: var(--yellow-artra);
   border-top: 1px solid var(--black);
   font-family: 'Century Old Style Std', serif;
   display: inline-block;
   padding: 12px 24px;
   font-size: 16px;
   line-height: 1;
   color: var(--black);
   cursor: pointer;
   text-align: left;
   /* align-self: contain; */
   align-self: stretch;
   min-width: 200px;
}

.dual-right-column-30 {
   inline-size: 100%;
   border-left: none;
   border-right: none;
   display: flex;
   align-items: center;
   justify-content: center;
}

.dual-right-image-30,
.dual-left-image-30 {
   width: auto;
   max-height: 650px;
   display: block;
   object-fit: cover;
   object-position: center;
}

.dual-left-column-31 {
   inline-size: 100%;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 1px solid var(--black);
   align-items: center;
   justify-content: center;
}

.dual-right-column-31 {
   inline-size: 100%;
   border-left: none;
   border-right: none;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   position: relative;
}

/* DESKTOP & TABLET DEVICES (> 600px) */
@media screen and (min-width: 600px) {
   .hwdi-main-30 {
      margin-left: 100px;
      margin-right: 100px;
   }

   .dual-section-30 {
      margin: 0;
      border: none;
   }

   .dual-grid-30 {
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      margin-bottom: -2px;
   }

   /* .dual-left-column-30 {
      width: 54%;
   } */

   .dual-left-column-30 {
      width: 45%;
      border-top: 1px solid var(--black);
      border-left: 1px solid var(--black);
      border-right: 1px solid var(--black);
      border-bottom: none;
      align-items: center;
      justify-content: center;
   }

   .dual-right-column-30 {
      width: 55%;
      margin-bottom: 2px;
      height: auto;
      border-top: 1px solid var(--black);
      border-left: none;
      border-right: 1px solid var(--black);
      border-bottom: none;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   /* .dual-right-column-31 {
      width: 46%;
   } */

   .dual-left-column-31 {
      width: 55%;
      border-top: 1px solid var(--black);
      border-left: 1px solid var(--black);
      border-right: 1px solid var(--black);
      border-bottom: none;
      align-items: center;
      justify-content: center;
   }

   .dual-right-column-31 {
      width: 45%;
      margin-bottom: 2px;
      border-top: 1px solid var(--black);
      border-left: none;
      border-right: 1px solid var(--black);
      border-bottom: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
   }

   .left-title-30,
   .right-title-30 {
      font-size: 18px;
   }

   .left-text-30,
   .right-text-30 {
      font-size: 16px;
   }

   .dual-content-30 {
      padding: 24px;
   }

   .hwdi-subtitle-30 {
      font-size: 18px;
   }

   .hwdi-img-31 {
      min-height: 650px;
      object-fit: cover;
   }

   .left-button-30,
   .right-button-30 {
      margin-top: 365px;
      /* align-self: stretch;
         margin-top: auto; */
   }

   .dual-right-image-30,
   .dual-left-image-30 {
      inline-size: 100%;
      /* width: auto;
      height: 650px; */
      display: block;
      object-fit: cover;
      object-position: center;
   }
}