.hwdi-main-30 {
   width: 100%;
   height: auto;
   padding-inline: var(--gutter);
   max-width: var(--site-max-width);
}

.hwdi-image-30 {
   overflow: auto;
   position: relative;
   block-size: fit-content;
}

.hwdi-img-30,
.hwdi-full-img-30 {
   width: 100%;
   height: auto;
   border: none;
   display: block;
   object-fit: cover;
   object-position: center;
}

.hwdi-section-31 {
   margin: 0;
   border: none;
   padding-top: 0;
   padding-bottom: 0;
   padding-left: var(--gutter);
   padding-right: var(--gutter);
}

.hwdi-image-30,
.hwdi-image-31 {
   overflow: auto;
   position: relative;
   block-size: fit-content;
}

.hwdi-image-31 {
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
}

.dual-section-30,
.dual-section-31 {
   margin: 0;
   border: none;
   padding-top: 0;
   padding-bottom: 0;
   padding-left: var(--gutter);
   padding-right: var(--gutter);
}

.dual-grid-30 {
   display: flex;
   margin-inline: auto;
   flex-direction: row;
   align-items: stretch;
   justify-content: center;
}

.dual-left-column-30 {
   width: 45%;
   align-items: center;
   justify-content: center;
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.dual-content-30 {
   padding: 20px 20px;
   position: relative;
   border-bottom: none;
   max-inline-size: 100%;
}

.left-description-30,
.right-description-30 {
   font-size: 14px;
   line-height: 14px;
   margin-bottom: 30px;
   color: var(--black);
   font-family: 'Century Old Style Std', serif;
}

.left-text-30,
.right-text-30 {
   line-height: 120%;
   margin: 0 0 15px 0;
   color: var(--black);
   font-family: 'CenturyReg';
   font-size: clamp(12px, calc(12px + 1.1vw), 16px);
}

.dual-right-column-30 {
   width: 55%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   border-top: 1px solid var(--black);
   border-left: none;
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.dual-right-image-30,
.dual-left-image-30 {
   width: 100%;
   border: none;
   display: block;
   max-height: 650px;
   object-fit: cover;
   object-position: center;
}

.dual-left-column-31 {
   width: 55%;
   align-items: center;
   justify-content: center;
   border-top: 1px solid var(--black);
   border-left: 1px solid var(--black);
   border-right: 1px solid var(--black);
   border-bottom: none;
}

.dual-right-column-31 {
   width: 45%;
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: space-between;
   border-top: 1px solid var(--black);
   border-left: none;
   border-right: 1px solid var(--black);
   border-bottom: none;
}